/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  line-height: 1.3;
  margin: 0;
}

.top-row {
  display: flex;
  flex-direction: row;
}

nav {
  position: fixed;
  right: 0em;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

#top-picture {
  float: right;
  height: 50px;
}

.background-main-page {
  background-image: url(/images/landing.jpg);
  height: 800px;
  background-size: cover;
  background-position: center center;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-main-page h1 {
  font-size: 70px;
  margin-bottom: 10px;
  margin-top: 0;
}

.background-main-page p {
  font-size: 25px;
  margin: 0;
}

.section-one {
  color: black;
}
.section-one h1 {
  text-align: center;
  border-bottom: 10px;
  border-bottom-color: #00b172;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

article div {
  display: flex;
  flex-direction: column;
  align-content: center;
  /* padding: 10px; */
  align-items: center;
}

article img {
  width: 20%;
}

article h3 {
  color: #00b172;
}

article h3,
p {
  text-align: center;
}

.section-two {
  background-color: #00b172;
  display: flex;
  flex-direction: row;
  margin: 0 30px;
  align-items: center;
}

.section-three {
  text-align: start;
  padding: 20px;
}

#spotify-green {
  width: 10%;
}

#app-img {
  width: 50%;
}
