/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  line-height: 1.3;
  margin: 0;
}

.top-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* margin: 10px 20px; */
  background-color: white;
  padding: 0.5em;
  position: fixed;
}

nav {
  right: 0em;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

ul li a {
  list-style: none;
  text-decoration: none;
  padding: 5px;
  color: black;
}

#top-picture {
  display: block;
  margin-right: auto;
  float: right;
  height: 50px;
}

.background-main-page {
  background-image: url(/images/landing.jpg);
  height: 850px;
  background-size: cover;
  background-position: center center;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-main-page h1 {
  font-size: 65px;
  margin-bottom: 10px;
  margin-top: 0;
}

.background-main-page p {
  font-size: 20px;
  margin: 0;
}

.section-one {
  color: black;
}
.section-one h1 {
  text-align: center;
  text-decoration: underline 3px;
  text-underline-offset: 10px;
  text-decoration-color: #00b172;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 20px;
}

article div {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 10px 0;
  align-items: center;
  text-align: center;
  width: 25%;
}

article img {
  max-width: 100%;
  height: 40px;
}

article h3 {
  color: #00b172;
}

/* .second-page > h3,
p {
  text-align: center;
} */

.section-two {
  background-color: #00b172;
  display: flex;
  flex-direction: row;
  margin: 0 30px;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.section-three {
  display: flex;
  flex: 2;
  flex-direction: column;
  /* align-items: left; */
  /* align-content: flex-start; */
  /* padding: 20px; */
}

.section-three div {
  text-align: left;
  margin-right: 20px;
}

.section-three h1 {
  font-size: 2em;
  font-weight: bold;
  text-decoration: underline 3px;
  text-underline-offset: 10px;
}

.green-img {
  flex: 1;
}

#spotify-green {
  width: 30%;
}

.app-image {
  flex: 1;
}

#app-img {
  width: 80%;
}
